<div class="contact">
  <div class="header">
    <h1 class="page-title">Contact</h1>
  </div>
  <!-- end header --> 
  <div class="info">
	  <div class="email">
	    <p><span class="glyphicon glyphicon-envelope"></span>callan.c.cook@gmail.com</p>
	  </div>
	  <!-- end email -->
	  <div class="address">
	    <p><span class="glyphicon glyphicon-home"></span>Sharpsburg, GA</p>
	  </div>
	  <!-- end address -->
	  <div class="phone">
	    <p><span class="glyphicon glyphicon-phone"></span>770.241.8120</p>
	  </div>
	  <!-- end phone -->
  </div>
  <!-- end info -->
</div>
<!-- end contact -->

