// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	font-family: Bitter, serif;
}

a:hover {
	color: #edae49;
}

th {
	font-family: Bitter, serif;
  color: #808080;
  margin: 20px;
  padding: 10px;
}

table {
  margin-left: 100px;
}

body>a {
  margin-left: 110px;
}

#post_body {
  width: 600px;
  height: 300px;
}

.field {
	margin: 20px 100px;
}

.field>label {
  color: #808080;
  font-family: Bitter, serif;
}

.field>input, .field>textarea {
  border-style: double;
  border-color: #55cdd6;
  border-radius: 5px;
}

.actions>input {
  background-color: #edae49;
  border-color: #edae49;
  border-radius: 5px;
  color: #808080;
  border-style: double;
  margin-left: 100px;
  margin-top: 20px;
}


.post-image {
    border-radius: 40px;
    width: 100%;
    height: 150px; 
}

.col-md-4 {
    margin-bottom: 75px;
}

footer {
	margin-bottom: 0px;
}