// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	background-color: #071E22;
	position: relative;
	min-height: 100%;
	margin: 0;
	}

// begin navbar

.navbar {
	background-color: white;
	margin-bottom: 0px;
}

.navbar-header, .navbar-header>a {
	font-size: 1.8em;
	font-family: Inconsolata, Futura, sans-serif;
	color: #119DA4;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
	font-weight: 800;
	margin-left: 10px;
	text-transform: uppercase;
}

.navbar-header>a:hover {
	background-color: white;
}

.navbar-default .navbar-nav {
	margin-left: 20px;
}

.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	font-family: Inconsolata, Futura, sans-serif;
	font-size: 1.5em;
	padding-top: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #EDAE49;
}

ul.navbar-right {
	margin: 20px;
}

// end navbar

.page-title {
	font-family: Inconsolata, Futura, sans-serif;
	text-align: center;
	color: #119DA4;
	margin: 100px;
	font-weight: 600;
	word-spacing: 0.5em;
	text-transform: uppercase;
	letter-spacing: 0em;
	font-size: 2em;
}

h1 {
	text-align: center;
	color: #119DA4;
	font-family: Inconsolata, Futura, sans-serif;
}

p {
	font-family: Bitter, serif;
	color: #119DA4;
	font-size: 1.2em;
	text-align: center;
}

// begin contact page

.contact {
	padding-bottom: 100px;
}

.phone , .email , .address {
	text-align: right;
	font-size: 1.5em;
}

.info {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.address>p {
	line-height: 25px;
}

// end contact page
// begin product page

.row {
	margin: 10px;
	padding-bottom: 100px;
}

h2, h3 {
	font-family: Inconsolata, Futura, sans-serif;
	color: #119DA4;
	text-align: center;
}

.post-image {
	border-radius: 50px;
}

.post-paragraph {
	padding-top: 100px;
}

// end product page
// begin about page

.about {
	margin-bottom: 300px;
	margin-left: 100px;
	margin-right: 100px;
}

// end about page
//begin footer


footer {
	font-family: Bitter, serif;
	position: absolute;
	height: 100px;
	color: gray;
	padding-top: 100px;
	padding-left: 20px;
	right: 0;
	left: 0;
	bottom: 0;
	margin-bottom: 0px;
}

.footer {
	padding-top: 50px;
	margin-bottom: 50px;
}

// used codepens always-on-bottom footer
// end footer












